@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 63%;
  box-sizing: border-box;
}
body {
  font-family: "Jersey 10", sans-serif;
  height: 100vh;
  color: aliceblue;
  display: flex;
  background: url("./assets/background.gif") no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  cursor: url("./assets/cursor.png"), auto;
}

/* Layout */
main {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100rem;
  height: 60rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  background: radial-gradient(#a3d8ff, #f8edff);
  border-radius: 9px;
  border: 2px solid #f27bbd;
  /* display: none; */
}
.player {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9rem;
  transition: all 0.75s;
  background: radial-gradient(#a3d8ff, #f8edff);
}

/* Elements */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-bottom: 1rem;
  color: #3939399c;
}
.score {
  font-size: 8rem;
  color: #f58ac59a;
  margin-bottom: auto;
}
.player-active {
  background: radial-gradient(#f8edff, #a3d8ff);
}
.player-active .name {
  color: black;
}
.player-active .score {
  color: #f27bbd;
}
.player-active .current {
  opacity: 1;
  background-color: #f27bbd;
}
.current {
  background-color: #f58ac59a;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 100%;
  padding: 2rem 3rem;
  text-align: center;
  transition: all 0.75s;
}
.current-label {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
.current-score {
  font-size: 4.5rem;
}
.btn {
  position: absolute;
  /* width: 50px; */
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: 2px solid #f27bbd;
  outline: none;
  font-family: inherit;
  cursor: url("./assets/point.png"), auto;
  transition: all 0.25s;
  font-size: 1.8rem;
  color: #f27bbd;
  padding: 0.75rem 2.5rem;
  border-radius: 50rem;
  background: linear-gradient(to right, white, rgb(255, 228, 254));
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn .icons {
  display: none;
}
.btn-rules {
  top: 5%;
}
.btn-new {
  top: 20%;
}
.btn-roll {
  top: 65%;
}
.btn-hold {
  top: 80%;
}
img {
  position: absolute;
  left: 50%;
  top: 38%;
  transform: translateX(-50%);
  width: 100px;
  border: 2.5px solid #f8edff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  transition: transform 1s ease-in-out;
}
.hidden {
  display: none;
}
.modal {
  display: none;
  width: 60rem;
  height: 70rem;
  z-index: 10;
  position: absolute;
  background: radial-gradient(#f8edff, #a3d8ff);
  color: black;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #f27bbd;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
}
.modal h1 {
  text-align: center;
  font-size: 5rem;
  position: relative;
  top: 10%;
}
.modal p {
  text-align: left;
  font-size: 2.5rem;
  color: #f27bbd;
  position: relative;
  top: 20%;
  margin: 10px 50px;
}
.modal button {
  cursor: url("./assets/point.png"), auto;
  position: relative;
  left: 91.7%;
  top: -57.4%;
  color: #a3d8ff;
  height: 5rem;
  width: 5rem;
  text-align: center;
  border: 2px solid #f27bbd;
  font-size: 3rem;
  background-color: #f27bbd;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  outline: none;
  border-bottom-left-radius: 20px;
}
@media screen and (max-width: 1000px) {
  main {
    width: 85rem;
    height: 55rem;
  }
}
@media screen and (max-width: 750px) {
  main {
    flex-direction: column;
    width: 55rem;
    height: 86rem;
  }
  .player {
    flex: 100%;
    padding-top: 8rem;
    /* padding: 6rem 10rem; */
  }
  img {
    top: 46%;
    left: 50%;
    width: 80px;
  }
  .btn {
    padding: 0.5rem;
    width: 80px;
    height: 80px;
    font-size: 4rem;
    top: 46%;
  }
  .btn .icons {
    display: block;
  }
  .btn .labels {
    display: none;
  }
  .btn-new {
    font-size: 2rem;
    padding: 0.75rem 0.75rem;
    width: 50px;
    height: 50px;
    top: 1%;
    left: 50%;
  }
  .btn-roll {
    left: 80%;
  }
  .btn-hold {
    left: 20%;
  }
  .btn-rules {
    font-size: 2rem;
    width: 50px;
    height: 50px;
    top: 93%;
    left: 50%;
  }
  .modal {
    width: 50rem;
    height: 70rem;
  }
  .modal button {
    left: 90%;
    top: -65.5%;
  }
}
@media screen and (max-width: 600px) {
  main {
    width: 50rem;
  }
}
@media screen and (max-width: 500px) {
  main {
    width: 42rem;
  }
  .btn {
    padding: 0.75rem;
  }
  .btn-roll {
    width: 70px;
    height: 70px;
  }
  .btn-hold {
    width: 70px;
    height: 70px;
  }
  .modal {
    width: 32rem;
    height: 60rem;
  }
  .modal h1 {
    font-size: 4rem;
    top: 8%;
  }
  .modal p {
    font-size: 1.8rem;
    margin: 5px 30px;
  }
  .modal button {
    left: 85%;
    top: -59.5%;
  }
}
@media screen and (max-width: 300px) {
  .btn-roll {
    left: 82%;
  }
  .btn-hold {
    left: 18%;
  }
}
